Gamenifo/*/*.py[cod]
*/__pycache__/
.ipynb_checkpoints/*

data/dataForC
data/forc
subprocessC
New
Original
tNew
tOriginal
lookup
totest.py
*.png
*[Rr]esult*
*RESULT*
GA84v2
[0-9]*
totestdataset
*.o
dep
analysisSubprocess
checkwholedata
data/dataForC2
wholedataset_f2
wholedataset_f3
wholedataset_f4
wholedataset_f4_0922
wholedataset_f5_0922
.*.swp
ana.py
ccr0.1n=10.eps
subprocesstest
*.eps
ValidateRichard
accuracyChecker
analysisByFourHand
data/dataForC
data/testGame
data/dataVG
TraversFourPlayersEST
GetFourGuysFormula1ArgumentTraverse
HandCalculator
TimesOfHCPScore
check_whole_corr
check_whole_corr_Fixed
data/testPartialGame
test
testFunc
*.swo
*data
*.so
*.txt
*.tmp
*.exp
*.board
accuracyCheckergen
accuracyCheckerwithinterval
*linyy*
TeamScorer
ScoreCalculator
BANLY*
BANLY2*
files
dds/examples/AnalysePlayBin
dds/examples/calcBBOboard
dds/examples/calcPboard
random_validate/times_*
random_validate/*ATOC
random_validate/main
random_validate/AppearTimesOfCombinations
random_validate/remained_card
random_validate/banlz_.boards
random_validate/RandomConclusion
AccAndInterval
AccAndInterval2
random_validate/validate/*
tempforoutput
tempforinput
nohup.out
__pycache__/
