Gamenifo/*/*.py[cod]
*/__pycache__/
.ipynb_checkpoints/*

data/dataForC
data/forc
subprocessC
New
Original
tNew
tOriginal
lookup
totest.py
*.png
*[Rr]esult*
*RESULT*
GA84v2
[0-9]*
totestdataset
*.o
dep
analysisSubprocess
checkwholedata
data/dataForC2
wholedataset_f2
wholedataset_f3
wholedataset_f4
wholedataset_f4_0922
wholedataset_f5_0922
.*.swp
ana.py
ccr0.1n=10.eps
subprocesstest
